# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
GameCoding/.vs/GameCoding/v17/.suo
GameCoding/.vs/GameCoding/v17/Browse.VC.db
GameCoding/.vs/GameCoding/v17/Browse.VC.db-shm
GameCoding/.vs/GameCoding/v17/Browse.VC.db-wal
GameCoding/.vs/GameCoding/v17/Browse.VC.opendb
GameCoding/.vs/GameCoding/v17/ipch/9a98f46abb53f89d.ipch
GameCoding/.vs/GameCoding/v17/ipch/AutoPCH/cc27ef02454d5889/GAMECODING.ipch
GameCoding/x64/Debug/vc143.pdb
GameCoding/x64/Debug/vc143.idb
GameCoding/x64/Debug/GameCoding.tlog/CL.write.1.tlog
GameCoding/x64/Debug/GameCoding.tlog/CL.read.1.tlog
GameCoding/x64/Debug/GameCoding.tlog/CL.command.1.tlog
GameCoding/x64/Debug/GameCoding.log
GameCoding/x64/Debug/GameCoding.ilk
GameCoding/Binaries/GameCoding.pdb
GameCoding/Binaries/Default.cso
GameCoding/Binaries/Color.cso
GameCoding/.vs/GameCoding/FileContentIndex/da0e715c-270a-4cbe-9133-d88947e0f9ae.vsidx
GameCoding/.vs/GameCoding/FileContentIndex/ce1febd4-2963-4693-a879-34a2f72c3f02.vsidx
GameCoding/.vs/GameCoding/FileContentIndex/04f17b53-f98a-4193-bdac-be203b824463.vsidx
*.cso
*.idb
*.tlog
GameCoding/Binaries/Color.cso
GameCoding/Binaries/Default.cso
GameCoding/Binaries/GameCoding.pdb
GameCoding/x64/Debug/GameCoding.ilk
GameCoding/x64/Debug/GameCoding.log
GameCoding/x64/Debug/GameCoding.tlog/CL.command.1.tlog
GameCoding/x64/Debug/GameCoding.tlog/CL.read.1.tlog
GameCoding/x64/Debug/GameCoding.tlog/CL.write.1.tlog
GameCoding/x64/Debug/vc143.idb
GameCoding/x64/Debug/vc143.pdb
